header.main {
	position: fixed;
	left: 0;
	top: 0;
	width: 35%;
	max-width: 380px;
	padding: 0rem 2rem 3rem;
}

.main-container {
	margin-left: 35%;
	width: 65%;

}

.main-container .container{
	max-width: 100%;
}

p i {
	margin: 1em 0;
	display: block;
}

ul li {
	padding: .25em 0;
}